[submodule "core/src/main/stone"]
	path = core/src/main/stone
	url = https://github.com/dropbox/dropbox-api-spec.git
[submodule "core/stone"]
	path = core/stone
	url = https://github.com/dropbox/stone.git
