# Gradle
.gradle/
out/
build/
core/build/*
!core/build/generated_stone_source/

# Maven build output folder
/target/

# IntelliJ project folder
intellij/
.idea/
*.iml
local.properties

# Output file when rendering README.md locally.
/ReadMe.html

# editor temp files
*~

# pyc files from generator
*.pyc

# ClassyShark
classyshark*

# macOS
*.DS_Store

# Integration Test Auth Info
auth_output

