# Gradle
.gradle/
build/
out/

# Maven build output folder
/target/

# IntelliJ project folder
intellij/
.idea/
*.iml
gradle.properties
local.properties

# Output file when rendering ReadMe.md locally.
/ReadMe.html

# editor temp files
*~

# pyc files from generator
*.pyc

# ClassyShark
classyshark*

# macOS
*.DS_Store
