[submodule "src/main/stone"]
	path = src/main/stone
	url = https://github.com/dropbox/dropbox-api-spec.git
[submodule "stone"]
	path = dropbox-sdk-java/stone
	url = https://github.com/dropbox/stone.git
