[submodule "dropbox-sdk-java/src/main/stone"]
	path = dropbox-sdk-java/src/main/stone
	url = https://github.com/dropbox/dropbox-api-spec.git
[submodule "dropbox-sdk-java/stone"]
	path = dropbox-sdk-java/stone
	url = https://github.com/dropbox/stone.git
