# This workflow will build the project with Gradle and run examples
# Because secrets are not available on external forks, this job is expected to fail
# on external pull requests.

name: Run Examples

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  examples:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Gradle Wrapper Validation
      uses: gradle/wrapper-validation-action@v1

    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'zulu'
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.9.10'
    - run: python -m pip install ply && pip install six

    - name: Grant execute permissions
      run: chmod +x gradlew && chmod +x update-submodules
            && chmod +x generate-ci-auth-file && chmod +x scripts/run-examples

    - name: Set up submodules
      run: ./update-submodules

    - name: Obtain access token
      env:
        APP_KEY: ${{ secrets.APP_KEY }}
        APP_SECRET: ${{ secrets.APP_SECRET }}
        REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}
      run: ./generate-ci-auth-file

    - name: Run Examples
      run: ./scripts/run-examples $(find `pwd` -name auth_output)
